/* -------- Home -------- */

.circle img {
    animation: circle 20s linear infinite;
}

/* -------- Sales -------- */
#sales .circle{
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: .5s ease-out;
}

#sales .circle.active {
    transform: translateX(-50%) scale(1);
}

#sales .accent::after {
    bottom: 5%;
    height: 30%;
}

#sales .accent.small:after {
    bottom: 15%;
    height: 20%;
}

#about-us .circle {
    transform: scale(0);
    transition: .5s ease-out;
}

#contact-us .circle {
    transform: translateX(-50%) scale(0);
    transition: .5s ease-out;
}

#contact-us .circle.active {
    transform: translateX(-50%) scale(1);
}

@media (min-width: 1024px) {
    #contact-us .circle {
        transform: translateY(-50%) scale(0);
    }
    
    #contact-us .circle.active {
        transform: translateY(-50%) scale(1);
    }
}

#about-us .circle.active {
    transform: scale(1);
}

#about-us .text.active {
    transform: translateX(0);
}

#about-us-mobile .carousell {
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#about-us-mobile .active {
    transition: none;
}


#about-us-mobile .panel {
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scaleY(.9);
}

#about-us-mobile .panel.active {
    transform: scaleY(1);
}

#sales h1, #contact-us p, #about-us .heading {
    transform: translateY(100%);
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#sales h1.active, #contact-us p.active, #about-us .heading.active {
    transform: translateY(0);
}

#sales h1.bottom {
    transform: translateY(-100%);
}

#sales .letter{
    display: inline-block;
    opacity: 0;
    margin-bottom: .5rem;
}

#sales .word {
    font-weight: bold;
    position: relative;
    font-family: 'Saira';
    font-size: 1.25rem;
    cursor: pointer;
}

@media (min-width: 1024px) {
    #sales .word {
        font-size: 1.5rem;
    }
}

@media (min-width: 1536px) {
    #sales .letter {
        margin-bottom: 1rem;
    }
}

#sales button, #contact-us button  {
    background: rgb(238,64,99);
    background-image: linear-gradient(to right, #EE4063, #F06F88, #EE4063);
    background-size: 200% 100%;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(110%);
}

#sales button:hover, #portfolio button:hover,  #contact-us button:hover {
    background-position: 100% 0;
    transition: .5s ease-out;
}

#sales button.active, #contact-us button.active {
    transform: translateY(0);
}

#sales button.bottom {
    transform: translateY(-110%);
}


/* -------- Portfolio -------- */

#portfolio .text {
    opacity: 0;
    scale: 0;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


#portfolio .text.active {
    opacity: 1;
    scale: 1;
}

#portfolio .plan {
    transition: none;
}

#portfolio .plan.active {
    transition: .15s;
}

#portfolio button, #home button {
    background: rgb(238,64,99);
    background-image: linear-gradient(to right, #EE4063, #F06F88, #EE4063);
    background-size: 200% 100%;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#portfolio .carousell {
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#portfolio .carousell.active {
    transform: translateY(-3.5rem);
}

#portfolio .space {
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin-right: 0;
}

@media (min-width: 1024px) {
    #portfolio .space {
        margin-right: -4.16vw;
    }

    #portfolio .carousell.active {
        transform: translateY(-4.5rem);
    }
}

#portfolio .space.active {
    margin-right: 0;
}