/* -------- Home -------- */

.circle img {
    animation: circle 20s linear infinite;
}

@keyframes circle {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#home .mouse {
	width: 26px;
	height: 44px;
	border: 2px solid #F1F1F1;
	border-radius: 60px;
	position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
}


#home .mouse::before {
    content: '';
    width: 5px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F1F1F1;
    border-radius: 20px;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 25px;
	}
}

/* -------- Sales -------- */
#sales .circle {
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: .5s ease-out;
}

#sales .circle.active {
    transform: translateX(-50%) scale(1);
}

#about-us .circle{
    transform: scale(0);
    transition: .5s ease-out;
}

#about-us .circle.active {
    transform: scale(1);
}

#sales h1 {
    transform: translateY(100%);
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#sales h1.active {
    transform: translateY(0);
}

#sales h1.bottom {
    transform: translateY(-100%);
}

#sales .letter, #sales .word {
    display: inline-block;
    opacity: 0;
}

#sales button  {
    background: rgb(238,64,99);
    background-image: linear-gradient(to right, #EE4063, #F06F88, #EE4063);
    background-size: 200% 100%;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(110%);
}

#sales button:hover, #portfolio button:hover {
    background-position: 100% 0;
    transition: .5s ease-out;
}

#sales button.active {
    transform: translateY(0);
}

#sales button.bottom {
    transform: translateY(-110%);
}

#sales .word img {
    animation: wordImageBack .5s forwards;
}

#sales .word img.active {
    animation: wordImage .5s forwards;
}

#sales .word span.active {
    color: #F74264;
}


@keyframes wordImage {
    from {opacity: 0; transform: translate(-50%, -50%) scale(0);}
    to {opacity: 1; transform: translate(-50%, -50%) scale(1);}
}

@keyframes wordImageBack {
    from {opacity: 1; transform: translate(-50%, -50%) scale(1);}
    to {opacity: 0; transform: translate(-50%, -50%) scale(0);}
}


/* -------- Portfolio -------- */

#portfolio .text {
    opacity: 0;
    scale: 0;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


#portfolio .text.active {
    opacity: 1;
    scale: 1;
}

#portfolio .plan {
    transition: none;
}

#portfolio .plan.active {
    transition: .15s;
}

#portfolio button {
    background: rgb(238,64,99);
    background-image: linear-gradient(to right, #EE4063, #F06F88, #EE4063);
    background-size: 200% 100%;
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#portfolio .carousell {
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#portfolio .carousell.active {
    transform: translateY(-4.5rem);
}

#portfolio .space {
    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin-right: -4.16vw;
}

#portfolio .space.active {
    margin-right: 0;
}