#view-project:hover img {
    transform: translateY(0.5rem) rotate(360deg);
}

.image {
    transform: scale(1.15);
    transition: 1s ease-out;
}

.image.active {
    transform: scale(1);
}