@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------- General Specifications -------- */

html {
    color: #F1F1F1;
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (min-width: 1536px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 20px;
    }
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    /* overflow-x: hidden; */
    -ms-overflow-style: none;  
    scrollbar-width: none;

    background-color: #0E0E0E;
}

body.open-menu {
    overflow: hidden;
}

.cover {
    transition: 0.4s;
}

.cover.active {
    display: block;
}

.cover.show {
    opacity: 1;
}

p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Saira', sans-serif;
    font-weight: 600;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4.5rem;
    }
}

@media (min-width: 1536px) {
    h1 {
        font-size: 5.5rem;
    }
}

h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

.container {
    max-width: none;

    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 1024px) {
    .container {
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }
}

@media (min-width: 2500px) {
    .container {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

.accent::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    bottom: 20%;
    background-color: #F74264;
    background-repeat: no-repeat;
    transition: 1s;
    z-index: -1;

    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}

.accent:hover::after {
    transform-origin: bottom left;

    animation: accent 0.8s forwards;
}

@keyframes accent {
    from{transform: scaleX(0);}
    to{transform: scaleX(1);}
}

header {
    width: calc(100% - 50px);
}

footer a, footer .link {
    position: relative;
    transition: .3s;
}

footer a::after, footer .link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0px;
    left: 0;
    background-color: #F74264;

    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}

footer a:hover::after, footer .link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

    animation: accent 0.5s;
}

footer a:hover, footer .link:hover {
    letter-spacing: 2px;
}

/* -------- Menu -------- */

.menu {
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

.menu nav {
    margin-top: calc(6.4vh + 100px);
}

@media (min-width: 1024px) {
    .menu nav {
        margin-top: calc(6.4vh + 80px);
    }
}

.menu nav a {
    font-size: 3rem;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    -webkit-text-stroke: 1px #F1F1F1;
}

.menu nav a.active {
    transition: 0.4s;
}

.menu nav a:hover {
    color: transparent;
}

.menu nav a.current {
    color: transparent;
    -webkit-text-stroke: 1px #F1F1F1;
}

.menu nav h1 {
    position: absolute;
    font-size: 3rem;
    font-family: 'Saira', sans-serif;
    right: 0;
    pointer-events: none;
    font-weight: 600;

    color: #F1F1F1;
}

@media (min-width: 1024px) {
    .menu nav a {
        font-size: 4rem;
    }

    .menu nav h1 {
        font-size: 4rem;
    }
}

.menu nav h1.active {
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

.menu.open {
    right: 0;
}

.menu-btn div {
    width: 50px;
    background: #fff;
    height: 4px;
    margin-bottom: 7px;

    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

.menu-btn:hover .line-2 {
    width: 50px;
}

.menu-btn .line-2 {
    transition: 0.3s;
    width: 35px;
    margin-bottom: 0;
}

.menu-btn .line-1.cross {
    transform: rotate(45deg) translateY(8px);
}

.menu-btn .line-2.cross {
    width: 50px;
    transform: rotate(-45deg) translateY(-8px);
}

.menu-btn span.active {
    width: 40px;
    height: 40px;
    top: -12px;
}

.menu .social {
    transition: 0.5s;
    opacity: 0;
}

.menu .social a {
    transition: 0.3s;
}

.menu .social a:hover {
    color:#F74264;
}

.menu .social.active {
    opacity: 1;
}

.logo {
    transition: 0.4s;
}

@media (max-width: 1024px) {
    .logo.active {
        opacity: 0;
        pointer-events: none;
    }
}

.languages {
    transition: 0.7s all;
}

.languages.active {
    left: 0;
    opacity: 1;
}

.change {
    transform: translateY(15vh);
    transition: all 1s cubic-bezier(.85,0,.2,.99);
}

.change.active {
    transition: none;
}

.change-container img {
    margin-bottom: 0px;
    width: 100%;
}


@media (min-width: 1536px) {
    .change img {
        height: 10.5vh;
    }
}

footer .details{
    font-family: 'Saira', sans-serif;
}

/* -------- Noise -------- */

.noise {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    /* animation: bg-animation .2s infinite; */
    opacity: .9;
    visibility: visible;

    z-index: 1;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }