@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------- General Specifications -------- */

html {
    color: #F1F1F1;
    scroll-behavior: smooth;
}

@media (min-width: 1536px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 20px;
    }
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;

    background-color: #0E0E0E;
}

p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Saira', sans-serif;
    font-weight: 600;
}

h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

.container {
    max-width: none;

    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 1024px) {
    .container {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
}

@media (min-width: 1536px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.accent::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 20%;
    left: 0;
    bottom: 20%;
    background-color: #F74264;
    background-repeat: no-repeat;
    transition: 1s;
    z-index: -1;
}

.accent.active::after {
    width: 100%;
}

header nav a, footer nav a {
    position: relative;
}

header nav a::after, footer nav a::after {
    content: '';
    position: absolute;
    width: 120%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: -10%;
    background-color: #F74264;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header nav #active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header nav a:hover::after, footer nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#svg1 {
    animation: svg1 5s linear infinite;
}

#svg2 {
    animation: svg2 5s linear infinite;
}

@keyframes svg1 {
    0% {top: 0}
    50% {top: -10%}
    100% {top: 0}
}

@keyframes svg2 {
    0% {bottom: 0}
    50% {bottom: -10%}
    100% {bottom: 0}
}

/* -------- Home -------- */

#home .circle img {
    animation: circle 20s linear infinite;
}

@keyframes circle {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);;
    }
}

#home .mouse {
	width: 26px;
	height: 44px;
	border: 2px solid #F1F1F1;
	border-radius: 60px;
	position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
}


#home .mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F1F1F1;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 30px;
	}
}

.arrows {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 24px;
}

.arrows.portfolio {
    left: 20.5px;
    top: 7.5px;
}

.arrow {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid #F1F1F1;
  border-bottom: 2px solid #F1F1F1;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;

  -webkit-animation: arrow 1s infinite;
  -moz-animation: arrow 1s infinite;
  animation: arrow 1s infinite;
}

.arrow.portfolio {
    width: 10px;
    height: 10px;
}

.arrow.one
{
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.arrow.two
{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .6s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

@keyframes arrow {
    0% {opacity: 0;}
    50% {opacity: .5;}
    100%{opacity: 1;}
}

.noise {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;

    z-index: 1;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }


/* -------- Sales -------- */

#sales button {
    background: rgb(238,64,99);
    background: linear-gradient(90deg, rgba(238,64,99,1) 0%, rgba(240,111,136,1) 100%);
}
